.joker {
  background-image: url(../images/joker-back.png);
  min-height: 100vh;
}

.body-img {
  position: fixed;
  top: 0;
  left: 0;
  animation: ff 6s linear forwards;
  z-index: 1;
}

.body-img:active {
  opacity: 0;
}

@keyframes ff {
  0% {
    width: 100%;
    height: 0px;
    display: none;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
    display: none;
  }
}

.chat__write-joker {
  background-color: #1e1f21;
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.chat__write-joker:focus {
  outline: none;
  width: 80%;
  background-color: black;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.chat__write-joker:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write-joker i {
  font-size: 22px;
}

.joker-message {
  align-self: flex-start;
}

.jsent-message {
  align-self: flex-end;
}

@keyframes joker-spin {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.joker-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: 0px 13px 10px rgba(50, 50, 93, 0.25);
  animation: joker-spin 5s ease-out infinite;
}

.message .jmessage__bubble {
  background-color: white;
  box-shadow: 0px 13px 10px rgba(50, 50, 93, 0.25);
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 5px;
  display: block;
  color: white;
  font-weight: 600;
}

.joker-message .message__author {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
}

.joker-message .jmessage__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #ad5389, #3c1053);
}

.jsent-message .jmessage__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #4e54c8, #8f94fb);
}

@keyframes jokerAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.joker-message {
  animation: jokerAnim 0.5s ease-out forwards;
}

@keyframes jsentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.jsent-message {
  animation: jsentAnim 0.5s ease-out forwards;
}
