.nomad {
  background-image: url(../images/beach.jpg);
  min-height: 100vh;
}

.nomad-message {
  align-self: flex-start;
}

.nsent-message {
  align-self: flex-end;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.nomad-message img {
  width: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: 0px 13px 10px rgba(50, 50, 93, 0.25);
  animation: spin 5s linear infinite;
}

.message .mmessage__bubble {
  background-color: white;
  box-shadow: 0px 13px 10px rgba(50, 50, 93, 0.25);
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 5px;
  display: block;
  color: white;
  font-weight: 600;
}

.mmessage__img {
  height: 20px;
  width: 20px;
  animation: m_img 1s linear infinite;
}

@keyframes m_img {
  from {
    transform: none;
  }
  to {
    transform: rotate(1turn);
  }
}

.nomad-message .message__author {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
}

.nomad-message .mmessage__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #1e9600, #fff200, #ff0000);
}

.nsent-message .mmessage__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #00b09b, #96c93d);
}

.spe:hover {
  transform: scale(1.5, 1.5);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nomad-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes nsentAnim {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nsent-message {
  animation: nsentAnim 0.5s ease-out forwards;
}

.chats__chat {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fcfcfc;
}
